<html>
    <head>
        <title>User Regisration Details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body style="margin:0">
      <div class="header">
     	 <img src="{{ url_for('static', filename='img/tslogo.jpeg') }}" class="logo">
      	<h1 class="header_text1">MINISTRY OF HEALTH AND FAMILY WELFARE</h1></br></br>
      	<h3 class="header_text2">Government of Telangana</h3>
      </div>
      <p class="title">
           Hello {{var}} your travel from {{var4}} District, {{var3}} to {{var6}} District, {{var5}} dated {{var8}} is {{var9}}. You will be receiving a whatsapp confirmation on your number {{var7}}.
      </p>
  </body>
</html>

